:root {
  --primary-darkBlue: hsl(233, 26%, 24%);
  --primary-limeGreen: hsl(136, 65%, 51%);
  --primary-brightCyan: hsl(192, 70%, 51%);

  --neutral-grayBlue: hsl(233, 8%, 62%);
  --neutral-lightGrayBlue: hsl(220, 16%, 96%);
  --neutral-lightGray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}
