@use "../utils/" as *;

.articleInnerContainer {
  padding: rem(90) 0;

  .articleTitle {
    font-size: var(--fs-large);
    color: var(--primary-darkBlue);
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: rem(35);

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  .articleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(24);
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      gap: rem(30);
    }

    &__global {
      display: flex;
      flex-direction: column;
      min-height: rem(395);
      max-height: rem(450);
      width: rem(300);
      background-color: var(--neutral-white);
      border-radius: rem(10);
      overflow: hidden;
    }
    &__article {
      padding: rem(40) rem(30);
      display: flex;
      flex-direction: column;
      gap: rem(15);
    }
    &__image {
      position: relative;
      width: 100%;
      min-height: rem(190);
    }
    &__author {
      font-size: var(--fs-xsmall);
      color: var(--neutral-grayBlue);
    }
    &__title {
      font-size: var(--fs-medium);
      color: var(--primary-darkBlue);
    }
    &__context {
      font-size: var(--fs-small);
      color: var(--neutral-grayBlue);
    }
  }
}
